/* ===== global styles ===== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 0.5rem;
}
@media only screen and (min-width: 1300px) {
  .mainContainer {
    padding-inline: 0;
  }
}

/* ===== header section ===== */
.header {
  padding-block-start: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .header {
    padding-block-start: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    padding-block-start: 1.5rem;
  }
}
@media only screen and (min-width: 1300px) {
  .header {
    padding: 2rem 0 0 0;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar__logoContainer {
  order: 0;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .navbar__logoContainer {
    width: auto;
    text-align: start;
  }
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: #3A3446;
  width: 50%;
}
@media only screen and (min-width: 1300px) {
  .navbar__logo {
    font-size: 1.5rem;
  }
}

.navbar__logo:hover {
  color: #3A3446;
}

.navbar__logo--name {
  color: #3f4579;
}

.navbar__listItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  order: 2;
  width: 100%;
}
@media only screen and (min-width: 425px) {
  .navbar__listItems {
    justify-content: center;
    column-gap: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__listItems {
    column-gap: 2rem;
    margin-block-start: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar__listItems {
    margin-block-start: 0;
    width: auto;
    order: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar__itemWrapper {
    position: relative;
  }

  .navbar__itemWrapper::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #3f4579;
    inset-inline-start: 0;
    inset-block-start: 1.5rem;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }

  .navbar__itemWrapper:hover::after {
    transform: scaleX(1);
  }
}
.navbar__itemLink {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #A196AB;
}
@media only screen and (min-width: 1300px) {
  .navbar__itemLink {
    font-size: 0.9rem;
  }
}

.navbar__itemWrapper:hover .navbar__itemLink {
  color: #3f4579;
}

.navbar__actionsContainer {
  order: 1;
  margin-block: 1rem 2rem;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
@media only screen and (min-width: 768px) {
  .navbar__actionsContainer {
    margin-block: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar__actionsContainer {
    order: 2;
  }
}
@media only screen and (min-width: 1300px) {
  .navbar__actionsContainer {
    margin-block: 0;
  }
}

.navbar__actionButton {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}

.navbar__actionButton--login {
  color: #3f4579;
}

.navbar__actionButton--login:hover {
  color: #3f4579;
}

.navbar__actionButton--singup {
  color: #ffffff;
  background-color: #3f4579;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
}
@media only screen and (min-width: 1300px) {
  .navbar__actionButton--singup {
    padding: 0.8rem 2rem;
  }
}

.navbar__actionButton--singup:hover {
  color: #ffffff;
}

/* ===== main section ===== */
.main {
  background: linear-gradient(#D6AEE1 55%, #A5A0DA);
  width: 100%;
  height: 320px;
  margin-block: 4rem 23.5rem;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 425px) {
  .main {
    height: 350px;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    margin-block: 6rem 7rem;
    height: 510px;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .main {
    margin-block-end: 7.5rem;
    height: 600px;
    border-radius: 30px;
  }
}

.main__carousel {
  width: 100%;
  height: 100%;
}

.main__carouselInner,
.main__carouselItem {
  height: inherit;
}

.main__carouselItem {
  position: relative;
}

.main__carouselImage {
  position: absolute;
  inset-block-end: 0;
  max-height: 130px;
  object-fit: contain;
}
@media only screen and (min-width: 425px) {
  .main__carouselImage {
    max-height: 160px;
  }
}
@media only screen and (min-width: 768px) {
  .main__carouselImage {
    max-height: 260px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__carouselImage {
    max-height: 350px;
  }
}

.main__carouselCaption {
  position: absolute;
  inset-block-start: 9.1rem;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 300;
  color: #3A3446;
}
@media only screen and (min-width: 425px) {
  .main__carouselCaption {
    inset-block-start: 8.9rem;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__carouselCaption {
    inset-block-start: 12rem;
    font-size: 1.5rem;
  }
}

.main__carouselButtons {
  position: absolute;
  inset-block-start: 9rem;
  display: flex;
  align-items: center;
  column-gap: 9rem;
}
@media only screen and (min-width: 425px) {
  .main__carouselButtons {
    column-gap: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__carouselButtons {
    inset-block-start: 12rem;
    column-gap: 14rem;
  }
}

.main__carouselButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid #3f4579;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .main__carouselButton {
    height: 40px;
    width: 40px;
  }
}

.main__carouselArrow {
  width: 10px;
  color: #3f4579;
}
@media only screen and (min-width: 768px) {
  .main__carouselArrow {
    width: 15px;
  }
}

.main__carouselButton:hover {
  background-color: #3f4579;
}
.main__carouselButton:hover > .main__carouselArrow {
  color: #ffffff;
}

.main__headings {
  position: absolute;
  inset-block-start: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
@media only screen and (min-width: 768px) {
  .main__headings {
    inset-block-start: 3.2rem;
  }
}

.main__heading,
.main__subheading {
  margin: 0;
}

.main__heading {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #3f4579;
}

.main__subheading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3A3446;
}
@media only screen and (min-width: 768px) {
  .main__subheading {
    font-size: 3.5rem;
  }
}

.main__search {
  position: absolute;
  inset-block-end: -20.5rem;
  backdrop-filter: blur(12px);
  width: 90%;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
}
@media only screen and (min-width: 425px) {
  .main__search {
    inset-block-end: -20rem;
    padding-inline: 1.5rem;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .main__search {
    height: 125px;
    inset-block-end: -4.1rem;
    border-radius: 25px;
    padding: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .main__search {
    height: 150px;
    inset-block-end: -4.5rem;
    padding: 1.8rem;
    border-radius: 30px;
  }
}
@media only screen and (min-width: 1300px) {
  .main__search {
    width: 80%;
  }
}

.main__searchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  row-gap: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .main__searchForm {
    flex-direction: row;
    align-items: center;
  }
}

.main__searchForm-group {
  display: flex;
  column-gap: 0.8rem;
}
@media only screen and (min-width: 425px) {
  .main__searchForm-group {
    column-gap: 1rem;
  }
}

.main__searchForm-iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e6e6e6;
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-iconContainer {
    width: 34px;
    height: 34px;
  }
}

.main__searchForm-icon {
  width: 10px;
  color: #3f4579;
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-icon {
    width: 14px;
  }
}

.main__searchForm-inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.main__searchForm-label {
  font-size: 1rem;
  font-weight: 600;
  color: #3A3446;
}
@media only screen and (min-width: 768px) {
  .main__searchForm-label {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-label {
    font-size: 1.2rem;
  }
}

.main__searchForm-searchInput,
.main__searchForm-dateInput,
.main__searchform-guestsInput {
  outline: none;
  border: none;
  height: 45px;
  font-size: 0.9rem;
  color: #A196AB;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .main__searchForm-searchInput,
.main__searchForm-dateInput,
.main__searchform-guestsInput {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-searchInput,
.main__searchForm-dateInput,
.main__searchform-guestsInput {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .main__searchForm-searchInput {
    width: 180px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-searchInput {
    width: 230px;
  }
}

.main__searchForm-searchInput::-webkit-search-cancel-button {
  appearance: none;
}

.main__searchForm-searchInput::placeholder,
.main__searchform-guestsInput::placeholder {
  font-size: 0.9rem;
  color: #A196AB;
}
@media only screen and (min-width: 768px) {
  .main__searchForm-searchInput::placeholder,
.main__searchform-guestsInput::placeholder {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-searchInput::placeholder,
.main__searchform-guestsInput::placeholder {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .main__searchForm-dateInput {
    width: 120px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__searchForm-dateInput {
    width: 170px;
  }
}

@media only screen and (min-width: 768px) {
  .main__searchform-guestsInput {
    width: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .main__searchform-guestsInput {
    width: 150px;
  }
}

.main__searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f4579;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main__searchButton {
    width: 6%;
    height: 100%;
    border-radius: 15px;
  }
}

.main__searchButton::after {
  content: "Search";
  position: absolute;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .main__searchButton::after {
    display: none;
  }
}

.main__searchButton-icon {
  width: 22px;
  color: #ffffff;
  display: none;
}
@media only screen and (min-width: 768px) {
  .main__searchButton-icon {
    display: block;
  }
}

/* ====== popular search section ===== */
.popularSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  margin-block-end: 6rem;
}
@media only screen and (min-width: 768px) {
  .popularSearch {
    margin-block-end: 7rem;
  }
}
@media only screen and (min-width: 1024px) {
  .popularSearch {
    margin-block-end: 7.5rem;
  }
}

.popularSearch__headingContainer {
  display: flex;
  align-items: center;
  height: 50px;
  width: 190px;
  position: relative;
}

.popularSearch__heading {
  font-size: 1.3rem;
  font-weight: 600;
  color: #3A3446;
  margin: 0;
}

.heading__purpleCircle {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0.8rem;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #b4b1d6;
}

.heading__pinkCircle {
  position: absolute;
  inset-block-start: 1.4rem;
  inset-inline-end: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #dac3e0;
}

.heading__orangeCircle {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 1.4rem;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #d3b5a9;
}

.popularSearch__placesContainer {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .popularSearch__placesContainer {
    width: 95%;
  }
}
@media only screen and (min-width: 1024px) {
  .popularSearch__placesContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 1300px) {
  .popularSearch__placesContainer {
    width: 85%;
  }
}

.popularSearch__placesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
@media only screen and (min-width: 1024px) {
  .popularSearch__placesList {
    gap: 1.2rem 1.5rem;
  }
}

.popularSearch__placeItem {
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .popularSearch__placeItem {
    border-radius: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  .popularSearch__placeItem {
    border-radius: 14px;
  }
}

.popularSearch__placeLink {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #3A3446;
  border: 1px solid #A196AB;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  display: inline-block;
}
.popularSearch__placeLink:hover {
  color: #3A3446;
}
@media only screen and (min-width: 768px) {
  .popularSearch__placeLink {
    font-size: 0.9rem;
    padding: 0.6rem 1.8rem;
    border-radius: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  .popularSearch__placeLink {
    font-size: 1rem;
    padding: 0.7rem 2rem;
    border-radius: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .popularSearch__placeItem:hover {
    background: linear-gradient(to left, #de91f3, #A5A0DA);
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  .popularSearch__placeItem:hover .popularSearch__placeLink {
    color: #ffffff;
    border: 1px solid transparent;
  }
}
/* ===== categories section ===== */
.categories {
  width: 100%;
  background-color: #ECE6F4;
  margin-block-end: 6rem;
  padding: 3rem 0;
}
@media only screen and (min-width: 768px) {
  .categories {
    padding: 3.5rem 0;
    margin-block-end: 9rem;
  }
}
@media only screen and (min-width: 1024px) {
  .categories {
    margin-block-end: 10rem;
  }
}

.mainContainer--categories {
  width: 100%;
  height: 100%;
}

.categories__heading {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #3A3446;
}
@media only screen and (min-width: 768px) {
  .categories__heading {
    font-size: 2.1rem;
  }
}

.categories__description {
  margin-block: 1.5rem 0;
  font-size: 0.9rem;
  color: #3A3446;
}
@media only screen and (min-width: 768px) {
  .categories__description {
    font-size: 1rem;
  }
}

.categories__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1.5rem;
  margin-block-start: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .categories__items {
    margin-block-start: 3.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .categories__items {
    row-gap: 0;
  }
}

.categories__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .categories__item {
    width: calc(100% / 3);
  }
}
@media only screen and (min-width: 768px) {
  .categories__item {
    width: 25%;
  }
}
@media only screen and (min-width: 1024px) {
  .categories__item {
    width: 20%;
  }
}

.categories__itemImage-container {
  width: 140px;
  height: 140px;
}
@media only screen and (min-width: 768px) {
  .categories__itemImage-container {
    width: 160px;
    height: 160px;
  }
}
@media only screen and (min-width: 1024px) {
  .categories__itemImage-container {
    width: 175px;
    height: 175px;
  }
}
@media only screen and (min-width: 1300px) {
  .categories__itemImage-container {
    width: 185px;
    height: 185px;
  }
}

.categories__itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% 50% 0 0;
}
@media only screen and (min-width: 1024px) {
  .categories__itemImage {
    filter: grayscale(80%);
  }
}

.categories__itemActions-container {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #de91f3, #A5A0DA);
}
@media only screen and (min-width: 768px) {
  .categories__itemActions-container {
    width: 160px;
  }
}
@media only screen and (min-width: 1024px) {
  .categories__itemActions-container {
    width: 175px;
    height: 60px;
    background: transparent;
  }
}
@media only screen and (min-width: 1300px) {
  .categories__itemActions-container {
    width: 185px;
  }
}

.categories__itemName {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #3f4579;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .categories__itemName {
    display: block;
  }
}

.categories__itemLink {
  width: inherit;
  height: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories__itemLink:hover {
  color: #ffffff;
}
@media only screen and (min-width: 1024px) {
  .categories__itemLink {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .categories__item:hover .categories__itemImage {
    filter: grayscale(0);
  }
  .categories__item:hover .categories__itemActions-container {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background: linear-gradient(to left, #de91f3, #A5A0DA);
  }
  .categories__item:hover .categories__itemActions-container .categories__itemName {
    display: none;
  }
  .categories__item:hover .categories__itemActions-container .categories__itemLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* ===== about us section ===== */
.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-block-end: 7rem;
}
@media only screen and (min-width: 768px) {
  .aboutUs {
    margin-block-end: 12rem;
    flex-direction: row;
    row-gap: 0;
  }
}
@media only screen and (min-width: 1300px) {
  .aboutUs {
    margin-block-end: 14rem;
  }
}

/* image-container */
.aboutUs__imageContainer,
.aboutUs__image {
  height: 300px;
}
@media only screen and (min-width: 576px) {
  .aboutUs__imageContainer,
.aboutUs__image {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageContainer,
.aboutUs__image {
    height: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageContainer,
.aboutUs__image {
    height: 500px;
  }
}

.aboutUs__imageContainer {
  display: flex;
  width: 100%;
  position: relative;
  order: 1;
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageContainer {
    order: 0;
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageContainer {
    width: 50%;
  }
}

.aboutUs__imageBackground {
  width: 65%;
  height: 80%;
  margin: 0 auto;
  align-self: flex-end;
  border-radius: 50% 50% 0 0;
  background: linear-gradient(#D6AEE1 55%, #A5A0DA);
  display: flex;
  justify-content: center;
  position: relative;
}
@media only screen and (min-width: 425px) {
  .aboutUs__imageBackground {
    width: 55%;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageBackground {
    width: 75%;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageBackground {
    width: 65%;
  }
}

.aboutUs__image {
  position: absolute;
  inset-block-end: 0;
  object-fit: cover;
}

.aboutUs__imageFeature {
  padding: 0.5rem;
  display: flex;
  column-gap: 0.5rem;
  position: absolute;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6);
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageFeature {
    padding: 1rem;
    column-gap: 0.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageFeature {
    column-gap: 1rem;
  }
}

.aboutUs__imageFeature--customers {
  inset-block-start: 5rem;
  padding-inline-end: 1rem;
  border-radius: 25px 30px 170px 25px;
  box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 425px) {
  .aboutUs__imageFeature--customers {
    inset-inline-start: 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .aboutUs__imageFeature--customers {
    inset-block-start: 8rem;
    inset-inline-start: 4.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageFeature--customers {
    inset-block-start: 8.5rem;
    inset-inline-start: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageFeature--customers {
    inset-block-start: 10rem;
    width: 210px;
  }
}

.aboutUs__imageFeature--destinations {
  inset-block-end: 2.8rem;
  inset-inline-end: 0;
  padding-inline-start: 1rem;
  border-radius: 30px 25px 25px 170px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 425px) {
  .aboutUs__imageFeature--destinations {
    inset-block-end: 3.5rem;
    inset-inline-end: 0.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .aboutUs__imageFeature--destinations {
    inset-block-end: 5rem;
    inset-inline-end: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageFeature--destinations {
    inset-block-end: 4rem;
    inset-inline-end: 0;
    padding-inline-start: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageFeature--destinations {
    inset-block-end: 6rem;
    padding-inline-start: 2rem;
    width: 185px;
  }
}

.aboutUs__imageFeature--tour {
  inset-block-end: -1.5rem;
  inset-inline-start: 0.5rem;
  padding-inline-end: 1.5rem;
  border-radius: 25px 170px 30px 25px;
  box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 425px) {
  .aboutUs__imageFeature--tour {
    inset-block-end: -2rem;
    inset-inline-start: 3.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .aboutUs__imageFeature--tour {
    inset-block-end: -2rem;
    inset-inline-start: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__imageFeature--tour {
    inset-block-end: -3.5rem;
    inset-inline-start: 1.5rem;
    padding-inline-end: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__imageFeature--tour {
    inset-block-end: -2.5rem;
    inset-inline-start: 3rem;
    width: 190px;
  }
}

.imageFeature__iconContainer {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f1f1f1;
}
@media only screen and (min-width: 576px) {
  .imageFeature__iconContainer {
    width: 28px;
    height: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .imageFeature__iconContainer {
    width: 32px;
    height: 32px;
  }
}

.imageFeature__icon {
  width: 12px;
  color: #3f4579;
}
@media only screen and (min-width: 576px) {
  .imageFeature__icon {
    width: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .imageFeature__icon {
    width: 18px;
  }
}

.imageFeature__textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
@media only screen and (min-width: 576px) {
  .imageFeature__textContainer {
    row-gap: 0.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .imageFeature__textContainer {
    row-gap: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .imageFeature__textContainer {
    row-gap: 0.6rem;
  }
}

.imageFeature__textQuantity {
  font-size: 1.3rem;
  color: #3f4579;
  line-height: 1;
}
@media only screen and (min-width: 576px) {
  .imageFeature__textQuantity {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .imageFeature__textQuantity {
    font-size: 2rem;
  }
}

.imageFeature__textHeading {
  font-size: 0.6rem;
  text-align: center;
  color: #3f4579;
  margin: 0;
}
@media only screen and (min-width: 576px) {
  .imageFeature__textHeading {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 768px) {
  .imageFeature__textHeading {
    font-size: 0.8rem;
  }
}

.aboutUs__descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  order: 0;
}
@media only screen and (min-width: 768px) {
  .aboutUs__descriptionContainer {
    order: 1;
    width: 40%;
    height: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionContainer {
    width: 50%;
    height: 500px;
  }
}
@media only screen and (min-width: 1300px) {
  .aboutUs__descriptionContainer {
    padding-inline: 3.5rem;
  }
}

.aboutUs__descriptionHeading {
  font-size: 1.3rem;
  font-weight: 700;
  color: #3A3446;
  margin-block: 0 1.5rem;
}
@media only screen and (min-width: 576px) {
  .aboutUs__descriptionHeading {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__descriptionHeading {
    margin-block: 0 1.2rem;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionHeading {
    margin-block: 0 3rem;
    font-size: 2.2rem;
  }
}

.aboutUs__descriptionHeading--name {
  color: #3f4579;
}

.aboutUs__descriptionText {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 2;
  color: #A196AB;
  padding-inline: 0.5rem;
  margin: 0;
}
@media only screen and (min-width: 576px) {
  .aboutUs__descriptionText {
    padding-inline: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__descriptionText {
    font-size: 1rem;
    text-align: start;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionText {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1300px) {
  .aboutUs__descriptionText {
    padding-inline: 0;
  }
}

.aboutUs__descriptionCircle--one {
  position: absolute;
  inset-block-start: 2rem;
  inset-inline-start: 4.5rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(211, 181, 169, 0.6);
}
@media only screen and (min-width: 768px) {
  .aboutUs__descriptionCircle--one {
    inset-block-start: 1.5rem;
    inset-inline-start: 1rem;
    background-color: #d3b5a9;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionCircle--one {
    inset-block-start: 0;
    inset-inline-start: 8rem;
    width: 25px;
    height: 25px;
  }
}

.aboutUs__descriptionCircle--two {
  position: absolute;
  inset-block-start: -2rem;
  inset-inline-end: 2rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #A5A0DA;
}
@media only screen and (min-width: 768px) {
  .aboutUs__descriptionCircle--two {
    inset-block-start: -3rem;
    inset-inline-end: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionCircle--two {
    inset-block-start: -3rem;
    inset-inline-end: 10rem;
  }
}

.aboutUs__descriptionCircle--six {
  position: absolute;
  inset-block-end: -1rem;
  inset-inline-end: 4rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(135, 120, 165, 0.4);
}
@media only screen and (min-width: 425px) {
  .aboutUs__descriptionCircle--six {
    inset-inline-end: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutUs__descriptionCircle--six {
    inset-block-end: -1.8rem;
    inset-inline-end: 6rem;
    width: 18px;
    height: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionCircle--six {
    inset-block-end: -3.2rem;
    inset-inline-end: 14rem;
    width: 20px;
    height: 20px;
    background-color: #8778A5;
  }
}

@media only screen and (min-width: 1024px) {
  .aboutUs__descriptionCircle--four {
    position: absolute;
    inset-block-end: 8rem;
    inset-inline-end: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D6AEE1;
  }

  .aboutUs__descriptionCircle--five {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 6rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ECE6F4;
  }
}
@media only screen and (min-width: 1300px) {
  .aboutUs__descriptionCircle--three {
    position: absolute;
    inset-block-start: 12rem;
    inset-inline-start: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #A5A0DA;
  }
}
/* ===== places section ===== */
.places {
  width: 100%;
  margin-block-end: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places__heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #3A3446;
}

.places__description {
  margin-block: 1.3rem 5rem;
  font-weight: 500;
  text-align: center;
  color: #A196AB;
}

.places__cardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.8rem;
  margin-block-end: 4rem;
}

.places__card {
  width: 265px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.places__cardContent {
  padding: 1rem;
}

.places__cardImage-container {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0px 25px 20px -30px rgba(0, 0, 0, 0.8);
}

.places__cardImage {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.places__cardName {
  margin-block: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #3A3446;
}

.places__cardDescription {
  margin-block: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8778A5;
}

.places__cardInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.places__cardInfo-country,
.places__cardInfo-price {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.places__cardInfo-countryIcon {
  width: 10px;
  color: #8778A5;
}

.places__cardInfo-countryName,
.places__cardInfo-priceText {
  font-size: 0.7rem;
  font-weight: 500;
  color: #8778A5;
}

.places__cardInfo-priceContainer {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #8778A5;
}

.places__cardInfo-priceIcon {
  color: #ffffff;
  width: 6px;
}

.places__cardInfo-priceValue {
  font-weight: 700;
}

.places__cardInfo-pricePackage {
  font-size: 0.6rem;
}

.places__cardButton {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0 0 10px 10px;
  background-color: #3f4579;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.places__cardButton:hover {
  color: #ffffff;
}

.places__cardButton-arrow {
  width: 14px;
  color: #ffffff;
}

.places__card:hover {
  transform: translateY(-1rem);
  transition: all 0.5s ease;
}

.places__viewDestinations {
  text-decoration: none;
  color: #ffffff;
  padding: 1.2rem 3rem;
  border-radius: 15px;
  background-color: #3f4579;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.places__viewDestinations:hover {
  color: #ffffff;
}

/* ===== appStore section ===== */
.appStore {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 10rem;
}

.appStore__upWave-container,
.appStore__downWave-container {
  width: 100%;
}

.appStore__downWave-container {
  transform: rotate(180deg);
}

.appStore__content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bd9aac;
}

.appStore__heading {
  font-size: 2.4rem;
  font-weight: 800;
  color: #3A3446;
  margin: 0;
}

.appStore__name {
  color: #3f4579;
}

.appStore__description {
  font-weight: 600;
  color: #3A3446;
  margin-block: 1rem 3rem;
}

.appStore__brands {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}

.appStore__brandGoogle-container,
.appStore__brandApple-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.6rem;
  background-color: #3A3446;
  border-radius: 8px;
}

.appStore__brandGoogle-icon,
.appStore__brandApple-icon {
  width: 38px;
  height: 38px;
  color: #ffffff;
}

.appStore__brandGoogle-text,
.appStore__brandApple-text {
  font-size: 0.6rem;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

.appStore__brandGoogle-name,
.appStore__brandApple-name {
  font-size: 1rem;
  font-weight: 500;
}

/* ===== footer section ===== */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block-end: 2rem;
}

.footer__sections {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.4rem;
}

.footer__linkHome {
  font-size: 1.2rem;
  font-weight: 800;
  color: #3A3446;
  text-decoration: none;
}

.footer__linkHome:hover {
  color: #3A3446;
}

.footer__linkHome--name {
  color: #3f4579;
}

.footer__description {
  font-size: 1rem;
  font-weight: 500;
  color: #A196AB;
  margin: 0;
}

.footer__socialMedia-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.footer__socialMedia-link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A196AB;
  text-decoration: none;
  border: 1px solid #A196AB;
  border-radius: 50%;
}

.facebook-link:hover {
  border: 1px solid #3b5998;
  background-color: #3b5998;
  transition: all 0.3s ease;
}
.facebook-link:hover .facebook-icon {
  color: #ffffff;
  transition: all 0.2s ease;
}

.twitter-link:hover {
  border: 1px solid #00acee;
  background-color: #00acee;
  transition: all 0.3s ease;
}
.twitter-link:hover .twitter-icon {
  color: #ffffff;
  transition: all 0.2s ease;
}

.instagram-link:hover {
  border: 1px solid #F56040;
  background-color: #F56040;
  transition: all 0.3s ease;
}
.instagram-link:hover .instagram-icon {
  color: #ffffff;
  transition: all 0.2s ease;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
  color: #A196AB;
}

.facebook-icon {
  width: 10px;
}

.twitter-icon,
.instagram-icon {
  width: 15px;
}

.footer__sectionHeading-wrapper {
  position: relative;
}

.footer__sectionHeading-wrapper::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  inset-block-start: 1.4rem;
  inset-inline-start: 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
  background-color: #3f4579;
}

.footer__section:hover .footer__sectionHeading-wrapper::after {
  transform: scaleX(1);
}

.footer__sectionHeading {
  font-size: 1rem;
  font-weight: 700;
  color: #3f4579;
  margin: 0;
}

.footer__sectionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__sectionList-link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: #A196AB;
  text-decoration: none;
}

.footer__sectionList-link:hover {
  color: #A196AB;
}

.footer__copyrightContainer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer__copyrightText {
  margin: 0;
  font-size: 0.9rem;
  color: #A196AB;
}