/* ===== about us section ===== */
.aboutUs {
   width: 100%;
   display: flex;
   flex-direction: column;
   row-gap: 3rem;
   margin-block-end: 7rem;
   
   @include tablet-size {
      margin-block-end: 12rem;
      flex-direction: row;
      row-gap: 0;
   }
   
   @include desktop-big-size {
      margin-block-end: 14rem;
   }
}

/* image-container */
.aboutUs__imageContainer,
.aboutUs__image {
   height: 300px;
   
   @include cellphone-big-size {
      height: 400px;
   }

   @include tablet-size {
      height: 450px;
   }
   
   @include desktop-small-size {
      height: 500px;
   }
}

.aboutUs__imageContainer {
   display: flex;
   width: 100%;
   position: relative;
   order: 1;
   
   @include tablet-size {
      order: 0;
      width: 60%;
   }
   
   @include desktop-small-size {
      width: 50%;
   }
}

.aboutUs__imageBackground {
   width: 65%;
   height: 80%;
   margin: 0 auto;
   align-self: flex-end;
   border-radius: 50% 50% 0 0;
   background: linear-gradient($pink-color 55%, $purple-light-color);
   display: flex;
   justify-content: center;
   position: relative;
   
   @include cellphone-size {
      width: 55%;
   }
   
   @include tablet-size {
      width: 75%;
   }
   
   @include desktop-small-size {
      width: 65%;
   }
}

.aboutUs__image {
   position: absolute;
   inset-block-end: 0;
   object-fit: cover;
}

// image-feature
.aboutUs__imageFeature {
   padding: .5rem;
   display: flex;
   column-gap: .5rem;
   position: absolute;
   backdrop-filter: blur(8px);
   background-color: rgba(255, 255, 255, 0.6);
   
   @include tablet-size {
      padding: 1rem;
      column-gap: .8rem;
   }
   
   @include desktop-small-size {
      column-gap: 1rem;
   }
}

.aboutUs__imageFeature--customers {
   inset-block-start: 5rem;
   padding-inline-end: 1rem;
   border-radius: 25px 30px 170px 25px;
   box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.1);

   @include cellphone-size {
      inset-inline-start: 2rem;
   }

   @include cellphone-big-size {
      inset-block-start: 8rem;
      inset-inline-start: 4.5rem;
   }
   
   @include tablet-size {
      inset-block-start: 8.5rem;
      inset-inline-start: 0;
   }
   
   @include desktop-small-size {
      inset-block-start: 10rem;
      width: 210px;
   }
}

.aboutUs__imageFeature--destinations {
   inset-block-end: 2.8rem;
   inset-inline-end: 0;
   padding-inline-start: 1rem;
   border-radius: 30px 25px 25px 170px;
   box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
   
   @include cellphone-size {
      inset-block-end: 3.5rem;
      inset-inline-end: .5rem;
   }

   @include cellphone-big-size {
      inset-block-end: 5rem;
      inset-inline-end: 2.5rem;
   }

   @include tablet-size {
      inset-block-end: 4rem;
      inset-inline-end: 0;
      padding-inline-start: 1.2rem;
   }
   
   @include desktop-small-size {
      inset-block-end: 6rem;
      padding-inline-start: 2rem;
      width: 185px;
   }
}

.aboutUs__imageFeature--tour {
   inset-block-end: -1.5rem;
   inset-inline-start: .5rem;
   padding-inline-end: 1.5rem;
   border-radius: 25px 170px 30px 25px;
   box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.1);
   
   @include cellphone-size {
      inset-block-end: -2rem;
      inset-inline-start: 3.5rem;
   }

   @include cellphone-big-size {
      inset-block-end: -2rem;
      inset-inline-start: 6rem;
   }
   
   @include tablet-size {
      inset-block-end: -3.5rem;
      inset-inline-start: 1.5rem;
      padding-inline-end: 3rem;
   }
   
   @include desktop-small-size {
      inset-block-end: -2.5rem;
      inset-inline-start: 3rem;
      width: 190px;
   }
}

.imageFeature__iconContainer {
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: #f1f1f1;
   
   @include cellphone-big-size {
      width: 28px;
      height: 28px;   
   }

   @include tablet-size {
      width: 32px;
      height: 32px;
   }
}

.imageFeature__icon {
   width: 12px;
   color: $blue-color;
   
   @include cellphone-big-size {
      width: 14px;
   }
   
   @include tablet-size {
      width: 18px;
   }
}

.imageFeature__textContainer {
   display: flex;
   flex-direction: column;
   row-gap: .3rem;
   
   @include cellphone-big-size {
      row-gap: .4rem;
   }
   
   @include tablet-size {
      row-gap: .5rem;
   }
   
   @include desktop-small-size {
      row-gap: .6rem;
   }
}

.imageFeature__textQuantity {
   font-size: 1.3rem;
   color: $blue-color;
   line-height: 1;
   
   @include cellphone-big-size {
      font-size: 1.6rem;
   }
   
   @include tablet-size {
      font-size: 2rem;
   }
}

.imageFeature__textHeading {
   font-size: .6rem;
   text-align: center;
   color: $blue-color;
   margin: 0;
   
   @include cellphone-big-size {
      font-size: .7rem;
   }
   
   @include tablet-size {
      font-size: .8rem;
   }
}

// description-container
.aboutUs__descriptionContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   order: 0;
   
   @include tablet-size {
      order: 1;
      width: 40%;
      height: 450px;
   }
   
   @include desktop-small-size {
      width: 50%;
      height: 500px;
   }
   
   @include desktop-big-size {
      padding-inline: 3.5rem;
   }
}

// description-heading
.aboutUs__descriptionHeading {
   font-size: 1.3rem;
   font-weight: 700;
   color: $black-color;
   margin-block: 0 1.5rem;
   
   @include cellphone-big-size {
      font-size: 1.6rem;
   }

   @include tablet-size {
      margin-block: 0 1.2rem;
      font-size: 1.3rem;
   }

   @include desktop-small-size {
      margin-block: 0 3rem;
      font-size: 2.2rem;
   }
}

.aboutUs__descriptionHeading--name {
   color: $blue-color;
}

// description-text
.aboutUs__descriptionText {
   font-size: .9rem;
   text-align: justify;
   line-height: 2;
   color: $dark-gray-color;
   padding-inline: .5rem;
   margin: 0;
   
   @include cellphone-big-size {
      padding-inline: 1.5rem;
   }

   @include tablet-size {
      font-size: 1rem;
      text-align: start;
   }
   
   @include desktop-small-size {
      font-size: 1.2rem;
   }
   
   @include desktop-big-size {
      padding-inline: 0;
   }
}

// description-circles
.aboutUs__descriptionCircle--one {
   position: absolute;
   inset-block-start: 2rem;
   inset-inline-start: 4.5rem;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: rgba(211, 181, 169, 0.6);
   
   @include tablet-size {
      inset-block-start: 1.5rem;
      inset-inline-start: 1rem;
      background-color: #d3b5a9;
   }
   
   @include desktop-small-size {
      inset-block-start: 0;
      inset-inline-start: 8rem;
      width: 25px;
      height: 25px;
   }
}

.aboutUs__descriptionCircle--two {
   position: absolute;
   inset-block-start: -2rem;
   inset-inline-end: 2rem;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   background-color: $purple-light-color;
   
   @include tablet-size {
      inset-block-start: -3rem;
      inset-inline-end: 1rem;
   }
   
   @include desktop-small-size {
      inset-block-start: -3rem;
      inset-inline-end: 10rem;
   }
}

.aboutUs__descriptionCircle--six {
   position: absolute;
   inset-block-end: -1rem;
   inset-inline-end: 4rem;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: rgba(135, 120, 165, 0.4);
   
   @include cellphone-size {
      inset-inline-end: 5rem;
   }

   @include tablet-size {
      inset-block-end: -1.8rem;
      inset-inline-end: 6rem;
      width: 18px;
      height: 18px;
   }
   
   @include desktop-small-size {
      inset-block-end: -3.2rem;
      inset-inline-end: 14rem;
      width: 20px;
      height: 20px;
      background-color: $purple-color;
   }
}

@include desktop-small-size {
   .aboutUs__descriptionCircle--four {
      position: absolute;
      inset-block-end: 8rem;
      inset-inline-end: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $pink-color;
   }
   
   .aboutUs__descriptionCircle--five {
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 6rem;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $gray-color;
   }
}

@include desktop-big-size {
   .aboutUs__descriptionCircle--three {
      position: absolute;
      inset-block-start: 12rem;
      inset-inline-start: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $purple-light-color;
   }
}
