/* ===== footer section ===== */
.footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   padding-block-end: 2rem;
   
   @include desktop-small-size {
      row-gap: 1rem;
   }
   
   @include desktop-big-size {
      row-gap: 0;
   }
}

// footer-sections
.footer__sections {
   display: grid;
   grid-template-columns: repeat(2, 50%);
   row-gap: 3rem;
   
   @include tablet-size {
      grid-template-columns: repeat(3, calc(100% / 3));
   }
   
   @include desktop-small-size {
      grid-template-columns: repeat(4, 25%);
   }
   
   @include desktop-big-size {
      grid-template-columns: repeat(5, 20%);
      row-gap: 0;
   }
}

// footer-section
.footer__section {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   row-gap: 1.4rem;
   padding-inline: 1.2rem;

   @include cellphone-size {
      padding-inline: 2rem;
   }
   
   @include cellphone-big-size {
      padding-inline: 3rem;
   }
   
   @include desktop-small-size {
      padding-inline-end: 0;
   }

   @include desktop-big-size {
      padding-inline: 0;
   }
}

// section-one
.footer__section--socialMedia {
   order: 1;
   padding-inline-end: 0;
   
   @include desktop-big-size {
      order: 0;
   }
}

.footer__linkHome {
   font-size: 1.2rem;
   font-weight: 800;
   color: $black-color;
   text-decoration: none;
}

.footer__linkHome:hover {
   color: $black-color;
}

.footer__linkHome--name {
   color: $blue-color;
}

.footer__description {
   font-size: 1rem;
   font-weight: 500;
   color: $dark-gray-color;
   margin: 0;
}

.footer__socialMedia-container {
   display: flex;
   align-items: center;
   column-gap: 1rem;
}

.footer__socialMedia-link {
   width: 34px;
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $dark-gray-color;
   text-decoration: none;
   border: 1px solid $dark-gray-color;
   border-radius: 50%;
   
   @include desktop-small-size {
      width: 30px;
      height: 30px;
   }
}

@include desktop-small-size {
   .facebook-link:hover {
      border: 1px solid #3b5998;
      background-color: #3b5998;
      transition: all .3s ease;
      
      .facebook-icon {
         color: $white-color;
         transition: all .2s ease;
      }
   }
   
   .twitter-link:hover {
      border: 1px solid #00acee;
      background-color: #00acee;
      transition: all .3s ease;
      
      .twitter-icon {
         color: $white-color;
         transition: all .2s ease;
      }
   }
   
   .instagram-link:hover {
      border: 1px solid #F56040;
      background-color: #F56040;
      transition: all .3s ease;
   
      .instagram-icon {
         color: $white-color;
         transition: all .2s ease;
      }
   }
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
   color: $dark-gray-color;
}

.facebook-icon {
   width: 10px;
}

.twitter-icon,
.instagram-icon {
   width: 15px;
}

// section two...five
@include desktop-small-size {
   .footer__sectionHeading-wrapper {
      position: relative;
   }
   
   .footer__sectionHeading-wrapper::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      inset-block-start: 1.4rem;
      inset-inline-start: 0;
      transform: scaleX(0);
      transition: all .3s ease;
      background-color: $blue-color;
   }
   
   .footer__section:hover {
      .footer__sectionHeading-wrapper::after {
         transform: scaleX(1);
      }
   }
}

.footer__sectionHeading {
   font-size: 1rem;
   font-weight: 700;
   color: $blue-color;
   margin: 0;
}

.footer__sectionList {
   margin: 0;
   padding: 0;
   list-style: none;
}

.footer__sectionList-link {
   font-size: 1rem;
   font-weight: 500;
   line-height: 2;
   color: $dark-gray-color;
   text-decoration: none;
}

.footer__sectionList-link:hover {
   color: $dark-gray-color;
}

// footer-copyright.
.footer__copyrightContainer {
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.footer__copyrightText {
   margin: 0;
   font-size: .7rem;
   color: $dark-gray-color;
   
   @include cellphone-size {
      font-size: .8rem;
   }

   @include cellphone-big-size {
      font-size: .9rem;
   }
}
