/* ===== places section ===== */
.places {
   width: 100%;
   margin-block-end: 8rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   
   @include tablet-size {
      margin-block-end: 10rem;
   }
}

// heading
.places__heading {
   font-size: 1.5rem;
   font-weight: 600;
   color: $black-color;
   
   @include cellphone-size {
      font-size: 1.8rem;
   }
   
   @include tablet-size {
      font-size: 2.4rem;
   }
}

// description
.places__description {
   margin-block: 1rem 3rem;
   font-weight: 500;
   text-align: center;
   color: $dark-gray-color;
   
   @include tablet-size {
      margin-block: 1.3rem 5rem;
   }
}

.places__description-linebreak {
   display: none;

   @include tablet-size {
      display: block;
   }
}

// cards
.places__cardsContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 2rem;
   margin-block-end: 4rem;

   @include cellphone-big-size {
      justify-content: space-evenly;
   }
   
   @include tablet-size {
      justify-content: space-between;
      row-gap: 3.8rem;
   }
}

.places__card {
   width: 90%;
   border-radius: 10px;
   box-shadow: 0px 0px 8px 1px rgba($color: #000000, $alpha: 0.1);
   
   @include cellphone-size {
      width: 80%;
   }
   
   @include cellphone-big-size {
      width: calc(50% - 2rem);
   }

   @include tablet-size {
      width: 33%;
   }

   @include desktop-small-size {
      width: 265px;
   }
}

.places__cardContent {
   padding: 1rem;
}

// card-image
.places__cardImage-container {
   width: 100%;
   height: 180px;
   border-radius: 10px;
   box-shadow: 0px 25px 20px -30px rgba($color: #000000, $alpha: 0.8);
}

.places__cardImage {
   width: inherit;
   height: inherit;
   border-radius: 10px;
   object-fit: cover;
}

// card-name
.places__cardName {
   margin-block: 1rem 0;
   font-size: 1rem;
   font-weight: 600;
   color: $black-color;
}

// card-description
.places__cardDescription {
   margin-block: .8rem;
   font-size: .8rem;
   font-weight: 500;
   color: $purple-color;
}

// card-info
.places__cardInfo {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.places__cardInfo-country,
.places__cardInfo-price {
   display: flex;
   align-items: center;
   column-gap: .3rem;
}

.places__cardInfo-countryIcon {
   width: 10px;
   color: $purple-color;
}

.places__cardInfo-countryName,
.places__cardInfo-priceText {
   font-size: .7rem;
   font-weight: 500;
   color: $purple-color;
}

.places__cardInfo-priceContainer {
   width: 14px;
   height: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: $purple-color;
}

.places__cardInfo-priceIcon {
   color: $white-color;
   width: 6px;
}

.places__cardInfo-priceValue {
   font-weight: 700;
}

.places__cardInfo-pricePackage {
   font-size: .6rem;
}

// card-button
.places__cardButton {
   width: 100%;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 1rem;
   font-size: .9rem;
   text-decoration: none;
   color: $white-color;
   border-radius: 0 0 10px 10px;
   background-color: $blue-color;
   box-shadow: 0px 0px 8px 1px rgba($color: #000000, $alpha: 0.1);
}

.places__cardButton:hover {
   color: $white-color;
}

.places__cardButton-arrow {
   width: 14px;
   color: $white-color;
}

@include desktop-small-size {
   .places__card:hover {
      transform: translateY(-1rem);
      transition: all .5s ease;
   }
}

// view destinations
.places__viewDestinations {
   text-decoration: none;
   color: $white-color;
   padding: 1.2rem 3rem;
   border-radius: 15px;
   background-color: $blue-color;
   box-shadow: 0px 0px 8px 1px rgba($color: #000000, $alpha: 0.1);
}

.places__viewDestinations:hover {
   color: $white-color;
}
