// Colors
$white-color: #ffffff;
$black-color: #3A3446;
$blue-color: #3f4579;
$gray-color: #ECE6F4;
$dark-gray-color: #A196AB;
$pink-color: #D6AEE1;
$pink-light-color: #CBA4B2;
$purple-color: #8778A5;
$purple-light-color: #A5A0DA;

// Fonts
$main-font: 'Poppins', sans-serif;

// Screen sizes to media queries
$cellphone-size: 480px;
$tablet-size: 768px;
$desktop-size: 1024px;
